nav {
    background-color: rgb(50, 30, 228);
    display: flex;
    justify-content: space-evenly;
    color: white;
    position: fixed; 
    top: 0; 
    margin: 0px; 
    width: 100%;
    
div{
    width: 70px;
    height: auto;

    img{
        width: 100%;
        height: auto;
    }

}
    


    ul {
        display: flex;
        list-style: none; 
        justify-content: space-around;
        cursor: pointer; 
           
    }
}