.galeriaImagenes{

    display : flex; 
    flex-wrap: wrap;
    // para hacerla responsive la web
    div {
        max-width: 800px;
        margin: 20px; 
        background-color: royalblue;
        
        h4{
            margin-left: 70px; 
            font-size: xx-large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .carruselImganes{
            max-width: 300px;

            img{
                width: 250px;
                height: 250px;
                border-radius: 25%;
              
            }
        }
    }
}