.servicios {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(62, 93, 185);
    

    article {

        max-width: 500px;
        margin: 50px;
    
        .imagenes-descriptivas{
        max-width: 800px;
        

        
            img{
                width: 400px;
                height: 400px; 
                border-radius: 30px;
                align-items: center;
            }
    }
}
}